body{
    background-color: #9881e9;
    text-align: center;
}

.entrada{
    width: 75px;
    height: 15px;
    margin: 0%;
}

.boton{
    background-color: #C4EFC1;
    border-color: #FF7B00;
    color: #FF7B00;
}
