body{
    background-color: #9881e9;
    text-align: center;
    margin-top: 0%;
}

header{
    background-color: #0d0022;
    margin-top: 0%;
    margin-left: 0%;
    margin-right: 0%;
    width: 100%;
    height: 25px;
    align-items: center;
}

h3{
    font-family: Arial;
    color: #d0f9f5;
}

label{
    font-size: 15px;
    font-family: Arial;
}

textarea{
    border-radius:1em;
    font-family: Arial;
    background-color: #F5F296;
    width: 500px;
    height: 200px;
}

.entrada2{
    border-radius:1em;
    background-color: #f5f296;
    width: 285px;
    height: 20px;
    margin: 0%;
    font-family: Arial;
}

.entrada{
    border-radius:1em;
    background-color: #f5f296;
    width: 75px;
    height: 15px;
    margin: 0%;
    font-family: Arial;
}

.boton{
    border-radius:1em;
    background-color: #C4EFC1;
    border-color: #FF7B00;
    color: #FF7B00;
    width: 150px;
    height: 25px;
    font-size: 15px;
    font-family: Arial;
}
